<section class="contact-page">
  <div class="container">
    <div class="contact-inner">
      <div class="contact__cont">
        <form class="contact__form">
          <h2 class="contact__title">კონტაქტი</h2>
          <p class="contact__form-text">დაინტერესდი? მხოლოდ ერთი ნაბიჯი გაშორებს მეტ შედეგამდე. - მოდი, შენი იდეა 4 კრეატიულ ტვინთან ერთად რეალობად ვაქციოთ, დაგვიკავშირდი.</p>

          <div class="form__control">
            <input class="contact__form-input" type="text" placeholder="სახელი">
            <input class="contact__form-input" type="text" placeholder="გვარი">
          </div>
          <div class="form__control">
            <input class="contact__form-input" type="text" placeholder="ბიზნესის სფერო">
            <input class="contact__form-input" type="text" placeholder="საკონტაქტო ინფორმაცია">
          </div>
          <div class="contact__form-button">
            <button class="primary-btn" type="submit">გაგზავნა</button>
          </div>

          <address class="contact__form-social">
            <a href="mailto:metiagency4@gmail.com"><img src="icons/mail.png" alt="phone">metiagency4&#64;gmail.com</a>
            <a href="tel:+995598994147"><img src="icons/phone.png" alt="phone"> (+995) 598 99 41 47</a>
            <a href="https://www.instagram.com/meti_agency/" target="_blank"><img src="icons/instagram.png" alt="phone">meti_agency</a>
            <a href="https://www.facebook.com/people/METI-%E1%83%9B%E1%83%94%E1%83%A2%E1%83%98/61580602659765/" target="_blank"><img src="icons/facebook.png" alt="phone">meti_agency</a>
          </address>
        </form>
        <div class="contact__image">
          <img src="contact-images/contact-image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
