<section class="portfolio-page">
  <div class="container">
    <div class="portfolio">
      <h2 class="portfolio__title">პორტფოლიო</h2>
      <p class="portfolio__subtitle">ჩვენი პორტფოლიო და პარტნიორების ჩამონათვალი, ნათლად აჩვენებს, თუ როგორ ვაქცევთ იდეებს რეალურ შედეგებად. 
შენ უბრალოდ მოისურვე, და ჩვენ გავაკეთებთ უფრო მეტს, ვიდრე წარმოგიდგენია.</p>
      <p class="portfolio__subtitle">ჩვენს მომხმარებლებს ვპირდებით კომფორტულ, დროში გაწერილ სამუშაო პროცესს, კონკურენტულ ფასებსა და კრეატიულ, შედეგზე ორიენტირებულ გადაწყვეტილებებს. </p>
      <p class="portfolio__subtitle">
თუ შენი ბიზნესის მიზანია გაყიდვების ზრდა, განვითარება და ბაზარზე სწორი პოზიციონირება, ჩვენ მზად ვართ, ამ გზაზე შენი სანდო პარტნიორები ვიყოთ.</p>

      <div class="portfolio__cards">
        <div class="portfolio__card-item">
          <button class="portfolio__card-item-image" type="button" aria-label="პროექტის ნახვა">
            <span>პროექტის ნახვა</span>
            <img src="icons/arrow-right-top.png" alt="">
          </button>
        </div>
        <div class="portfolio__card-item">
          <button class="portfolio__card-item-image" type="button" aria-label="პროექტის ნახვა">
            <span>პროექტის ნახვა</span>
            <img src="icons/arrow-right-top.png" alt="">
          </button>
        </div>
        <div class="portfolio__card-item">
          <button class="portfolio__card-item-image" type="button" aria-label="პროექტის ნახვა">
            <span>პროექტის ნახვა</span>
            <img src="icons/arrow-right-top.png" alt="">
          </button>
        </div>
        <div class="portfolio__card-item">
          <button class="portfolio__card-item-image" type="button" aria-label="პროექტის ნახვა">
            <span>პროექტის ნახვა</span>
            <img src="icons/arrow-right-top.png" alt="">
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
