<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__header">
        <h2 class="advantages__title">რატომ <span>მეტი</span>?</h2>
        <p class="advantages__subtitle">METI AGENCY 4 კრეატიული ადამიანისგან შემდგარი გუნდია.</p>
      </div>

      <ul class="advantages__grid" aria-label="Meti Agency team">
        <li>
          <article class="advantages__card">
            <img class="advantages__card-image" src="home-images/advantages/advantages-gvanca.png" alt="გვანცა">
            <div class="advantages__card-content">
              <h3>გვანცა</h3>
              <p>გრაფიკოს-დიზაინერი, ვიდეო ედითორი</p>
            </div>
          </article>
        </li>
        <li>
          <article class="advantages__card">
            <img class="advantages__card-image" src="home-images/advantages/advantages-tatia.png" alt="თათია">
            <div class="advantages__card-content">
              <h3>თათია</h3>
              <p>ქოფირაითერი</p>
            </div>
          </article>
        </li>
        <li>
          <article class="advantages__card">
            <img class="advantages__card-image" src="home-images/advantages/advantages-mariami.png" alt="მარიამი">
            <div class="advantages__card-content">
              <h3>მარიამი</h3>
              <p>კონტენტ კრეატორი</p>
            </div>
          </article>
        </li>
        <li>
          <article class="advantages__card">
            <img class="advantages__card-image" src="home-images/advantages/advantages-nino.png" alt="ნინო">
            <div class="advantages__card-content">
              <h3>ნინო</h3>
              <p>ედვერთაიზერი</p>
            </div>
          </article>
        </li>
      </ul>

      <div class="advantages__text">
        <p>გვერწმუნე, 4 კრეატიული ტვინი უფრო მეტს შექმნის შენი ბრენდისთვის ვიდრე ამას ერთი ადამიანი შეძლებს.</p>
        <p>მარკეტინგიც ხომ გუნდური თამაშია, ჩვენ გვესმის, როგორ შევქმნათ კონტენტი, რომელიც შენი ბრენდის გაყიდვებს გაზრდის.
შენ უბრალოდ მოისურვე, და ჩვენ გავაკეთებთ უფრო მეტს, ვიდრე - წარმოგიდგენია.</p>
      </div>

      <a routerLink="/portfolio" class="advantages__btn primary-btn">ჩვენი პორტფოლიო</a>
    </div>
  </div>
</section>
