<section class="hero">
  <img class="hero__image" src="logos/hero__background.png" alt="background">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">
        <span>Meti</span> Agency
      </h1>
      <p class="hero__subtitle">
        უფრო მეტი შენი ბიზნესისთვის
      </p>
      <div class="hero__buttons">
        <button class="hero__buttons-btn primary-btn">გაიგე მეტი</button>
        <button class="hero__buttons-btn primary-btn">კონტაქტი</button>
      </div>
    </div>
  </div>
</section>
