<section class="relationships">
  <div class="container">
    <div class="relationships__inner">
      <h2 class="relationships__title">ჩვენი ურთიერთობა</h2>

      <div class="relationships__cards">
        <div class="relationships__rocket" aria-hidden="true">
          <img src="icons/rocket.png" alt="">
        </div>

        <div class="relationships__card">
          <div class="relationships__card-logo">
            <img src="icons/phone.png" alt="">
          </div>
          <h3 class="relationships__card-title">
            დაგვიკავშირდი
          </h3>
          <p class="relationships__card-subtitle">
            პირველი ნაბიჯი შენზეა — დაგვიტოვე საკონტაქტო ინფორმაცია და დავიწყოთ.
          </p>
        </div>

        <div class="relationships__card">
          <div class="relationships__card-logo">
            <img src="icons/brain.png" alt="">
          </div>
          <h3 class="relationships__card-title">
            ბრიფი
          </h3>
          <p class="relationships__card-subtitle">
            ვიღებთ შენს მოთხოვნას, ვაანალიზებთ და ვიწყებთ ბრეინშტორმინგს.
          </p>
        </div>

        <div class="relationships__card">
          <div class="relationships__card-logo">
            <img src="icons/gears.png" alt="">
          </div>
          <h3 class="relationships__card-title">
            კონსულტაცია
          </h3>
          <p class="relationships__card-subtitle">
            გიზიარებთ სწორ ხედვას, სტრატეგიასა და კონკრეტულ სამოქმედო გეგმას.
          </p>
        </div>

        <div class="relationships__card">
          <div class="relationships__card-logo">
            <img src="icons/lightning.png" alt="">
          </div>
          <h3 class="relationships__card-title">
            სტარტი
          </h3>
          <p class="relationships__card-subtitle">
            ვიწყებთ მუშაობას და იდეებს რეალურ შედეგებად ვაქცევთ.
          </p>
        </div>
      </div>



    </div>
  </div>
</section>
