<section class="about">
  <div class="container">
    <div class="about__inner">
      <h2 class="about__title">ჩვენ შესახებ</h2>
      <p class="about__subtitle">
        ყველაფერი ერთი იდეით დაიწყო - იდეით, რომელმაც ოთხი მეგობარი გაგვაერთიანა საერთო მიზნის გარშემო: შევქმნათ უფრო > შენი ბიზნესისთვის. ჩვენ გვჯერა, რომ წარმატება იწყება მაშინ, როდესაც იდეას გულწრფელად ემსახურები.
      </p>
      <div class="about__image">
        <img src="about-images/about-image1.png" alt="Team image">
        <img src="about-images/about-image2.png" alt="Team image">
      </div>
    </div>
  </div>
</section>
